<div class="col-md-6">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="emailId">Email address:</label>
        <input type="emailId" formControlName="emailId" placeholder="Email" name="emailId" class="form-control" id="emailId">
      </div>
  
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>
  
      <button class="btn btn-success" (click)="editUser()">Update</button>
    </form>
  </div>
  